$breakpoint-large: 75rem;
$breakpoint-medium: 64rem;
$breakpoint-small: 48rem;
$breakpoint-xsmall: 36rem;

@mixin below($point) {
  @if $point ==large {
    @media (max-width: $breakpoint-large) {
      @content;
    }
  } @else if $point ==medium {
    @media (max-width: $breakpoint-medium) {
      @content;
    }
  } @else if $point ==small {
    @media (max-width: $breakpoint-small) {
      @content;
    }
  } @else if $point ==xsmall {
    @media (max-width: $breakpoint-xsmall) {
      @content;
    }
  }
}
